.Story {
    width: 100%;
    margin-top: 150px;
    position: relative;
}

.Story_container {
    margin: 0 auto;
    max-width: 1300px;
    z-index: 3;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-bottom: 150px;
}

.Story_title_container {
    position: relative;
    top: -100px;
    width: 347.84px;
    height: 106.42px;
    pointer-events: none;
}

.Story_title {
    position: absolute;
    font-family: 'GT America LCG 400';
    font-size: 79.388px;
    line-height: 150%;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #5AC1CD;
    pointer-events: none;
}

.Story_title_blur {
    position: absolute;
    font-family: 'GT America LCG 400';
    font-size: 79.388px;
    line-height: 159%;
    text-transform: uppercase;
    color: #00D5FF;
    filter: blur(6px);
    -webkit-text-stroke: 1px #00D5FF;
     text-shadow:
        2px  2px 0 #00D5FF,
       -1px -1px 0 #00D5FF,  
        1px -1px 0 #00D5FF,
       -1px  1px 0 #00D5FF,
        1px  1px 0 #00D5FF;
    pointer-events: none;
}

.Story_title_bg {
    position: absolute;
    top: 32px;
    mix-blend-mode: overlay;
    -webkit-filter: opacity(.2) drop-shadow(0 0 0 blue);
    filter: opacity(.2) drop-shadow(0 0 0 blue);
    pointer-events: none;
}

.Story_title_bg480 {
    display: none;
    pointer-events: none;
}

.Story_description_container1440 {
    display: flex;
    gap: 40px;
}

.Story_description_leftWrap {
    flex-basis: fit-content;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.Story_description_rightWrap {
    flex-basis: fit-content;
    display: flex;
    flex-direction: column;
    gap: 125px;
}

.Story_description_p {
    font-family: 'GT America LCG 500';
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.172146px;
    color: #5AC1CD;
}

.Story_description_img_wrap {
    position: relative;
}

.Story_description_img {
    width: 589.3px;
    height: 505.15px;
    filter: drop-shadow(0px 0px 30px #00D5FF);
}

.Story_description_container1000 {
    display: none;
}

.Story_description_container {
    display: flex;
    gap: 30px;
}

.Story_description_container768 {
    display: none;
}
/* ///////////////////////////////////Decoration */
.Story_bg {
    width: 1440px;
    height: 2589px;
    position: absolute;
    top: -400px;
    pointer-events: none;
}

.Story_bg_svg1 {
    width: 224px;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: -35px;
    pointer-events: none;
}

.Story_bg_wrap_svg2svg3 {
    position: absolute;
    right: 50px;
    pointer-events: none;
}

.Story_bg_svg2 {
    width: 54px;
    height: 359px;
    position: absolute;
    top: -88px;
    -webkit-filter: opacity(.1) drop-shadow(0 0 0 blue);
    filter: opacity(.1) drop-shadow(0 0 0 blue);
    pointer-events: none;
}

.Story_bg_svg3 {
    width: 184px;
    height: 54px;
    position: absolute;
    right: -42px;
    pointer-events: none;
}
.Story_bg_svg4 {
    width: 110px;
    height: 80px;
    position: absolute;
    display: none;
    pointer-events: none;
}
.Story_bg_svg5 {
    width: 18px;
    height: 18px;
    position: absolute;
    display: none;
    pointer-events: none;
}
.Story_bg_svg6 {
    position: absolute;
    display: none;
    -webkit-filter: opacity(.1) drop-shadow(0 0 0 blue);
    filter: opacity(.15) drop-shadow(0 0 0 blue);
    pointer-events: none;
}
.Story_bg_svg7 {
    position: absolute;
    display: none;
    -webkit-filter: opacity(.1) drop-shadow(0 0 0 blue);
    filter: opacity(.15) drop-shadow(0 0 0 blue);
    pointer-events: none;
}
/* //////////////////////////////////////////////// */


@media screen and (max-width : 1250px) {
    .Story_description_container1440 {
        display: none;
    }
    .Story_description_container1000 {
        display: flex;
        flex-direction: column;
    }
    .Story_description_rightWrap {
        gap: 33px;
    }

    .Story_description_img_wrap {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .Story_description_img {
        margin-top: 80px;
        width: 920px;
        height: 505.15px;
        filter: drop-shadow(0px 0px 30px #00D5FF);
    }
    /* ///////////////////////////////////Decoration */
    .Story_bg {
        width: 1230px;
        height: 1230px;
        position: absolute;
        top: 23px;
        left: -134px;
    }

    .Story_bg_svg1 {
        width: 224px;
        height: 42px;
        position: absolute;
        bottom: 800px;
        left: 829px;
    }

    .Story_bg_wrap_svg2svg3 {
        position: absolute;
        right: 250px;
    }
    /* //////////////////////////////////////////////// */
}

@media screen and (max-width : 999px) {
    .Story_container {
        padding: 0px 30px;
    }
    .Story_title_container {
        position: relative;
        top: -100px;
        margin: 0 auto;
    }

    .Story_description_container1000 {
        display: none;
    }

    .Story_description_container768 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        margin-top: -30px;
    }

    .Story_description_img {
        margin: 10px 0px;
        width: 100%;
        height: calc(100vw / 1.95);
    }
    /* ///////////////////////////////////Decoration */
    .Story_bg {
        width: 1230px;
        height: 1230px;
        position: absolute;
        top: 300px;
        left: -57px;
    }

    .Story_bg_svg1 {
       display: none;
    }

    .Story_bg_wrap_svg2svg3 {
        display: none;
    }
    .Story_bg_svg4 {
        display: block;
        top: -85px;
        left: -28px;
    }
    .Story_bg_svg5 {
        display: block;
        bottom: -100px;
        right: 106px;
    }
    /* ////////////////////////////////////////////////// */
}

@media screen and (max-width : 600px) {
    .Story {
        margin-top: 120px;
    }
    .Story_container {
        padding: 0px 30px;
    }
    .Story_description_container768 {
        margin-top: -80px;
    }
    .Story_description_p {
        font-size: 14px;
    }
    .Story_description_img {
        margin: 10px 0px;
        width: 100%;
        height: calc(100vw / 1.2);
    }
    .Story_title_container {
        display: flex;
        justify-content: center;
    }
    .Story_title_container div {
        width: 261.84px;
        height: 54.3px;
    }
    .Story_title {
        font-size: 60px;
    }
    
    .Story_title_blur {
        font-size: 60px;
    }
    
    .Story_title_bg {
        display: none;
    }
    
    .Story_title_bg480 {
        display: block;
        position: absolute;
        top: 32px;
        mix-blend-mode: overlay;
        overflow: hidden;
    }
        /* ///////////////////////////////////Decoration */
        .Story_bg {
            width: 1230px;
            height: 1230px;
            position: absolute;
            top: -300px;
            left: -21px;
        }
        .Story_bg_svg4 {
            display: none;
        }
        .Story_bg_svg5 {
            display: none;
        }
        .Story_bg_svg6 {
            display: block;
            bottom: 137px;
            right: 10px;
        }
        /* ////////////////////////////////////////////////// */
}

@media screen and (max-width : 376px) {
    .Story {
        margin-top: 80px;
    }
    .Story_container {
        padding: 0px 10px;
    }
    .Story_description_p {
        font-size: 12px;
    }
    .Story_description_container768 {
        margin-top: -60px;
    }
    .Story_title_container {
        width: 205px;
        height: 60px;
        padding: 0px 10px;
    }
    .Story_title {
        font-size: 42px;
    }
    
    .Story_title_blur {
        font-size: 42px;
    }

    .Story_title_bg480 {
        top: 16px;
        left: -15px;
    }
            /* ///////////////////////////////////Decoration */
            .Story_bg {
                width: 1230px;
                height: 1230px;
                position: absolute;
                top: 400px;
                left: -202px;
            }
            .Story_bg_svg4 {
                display: none;
            }
            .Story_bg_svg5 {
                display: none;
            }
            .Story_bg_svg6 {
                display: none;
            }
            .Story_bg_svg7 {
                display: block;
                bottom: -50px;
            }
            /* ////////////////////////////////////////////////// */
}

@media screen and (max-width : 319px) {
    .Story {
        margin-top: 70px;
    }
}


