.Story {
    width: 100%;
    min-height: 1100px;
    margin-top: 274px;
}

.Story_container {
    margin: 0 auto;
    max-width: 1300px;
    z-index: 0;
    padding: 0px 40px;
}

.Story_title_container {
    position: relative;
    top: -160px;
}

.Story_title {
    position: absolute;
    font-family: 'GT America LCG 400';
    font-size: 79.388px;
    line-height: 150%;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #5AC1CD;
}

.Story_title_blur {
    position: absolute;
    font-family: 'GT America LCG 400';
    font-size: 79.388px;
    line-height: 159%;
    text-transform: uppercase;
    color: #00D5FF;
    filter: blur(6px);
    -webkit-text-stroke: 1px #00D5FF;
     text-shadow:
        2px  2px 0 #00D5FF,
       -1px -1px 0 #00D5FF,  
        1px -1px 0 #00D5FF,
       -1px  1px 0 #00D5FF,
        1px  1px 0 #00D5FF;
}

.Story_title_bg {
    position: absolute;
    top: 32px;
    mix-blend-mode: overlay;
}

.Story_description_container1440 {
    display: flex;
    gap: 40px;
}

.Story_description_leftWrap {
    flex-basis: fit-content;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.Story_description_rightWrap {
    flex-basis: fit-content;
    display: flex;
    flex-direction: column;
    gap: 140px;
}

.Story_description_p {
    font-family: 'GT America LCG 500';
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.172146px;
    color: #5AC1CD;
}

.Story_description_img_wrap {
    position: relative;
}

.Story_description_img {
    position: absolute;
    width: 589.3px;
    height: 505.15px;
    filter: drop-shadow(0px 0px 30px #00D5FF);
}

.Story_description_img::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
    background: rgb(0, 229, 154);
}

