.swiper {
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
.swiper-button-next {
    right: min(40px, 4vw) !important;
    top: min(90px, 7vw) !important;
    color: #5AC1CD;
}

.swiper-button-prev {
  top: min(90px, 7vw) !important;
  right: min(100px, 9vw) !important;
  color: #5AC1CD;
  left: auto !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: min(45px, 4vw) !important;
}

.swiper-pagination {
  color: #5AC1CD;
}

.swiper-pagination span {
  background-color: #5AC1CD;
  width: min(70px, 10vw) !important;
  height: min(5px, 1vw) !important;
  border-radius: 0px !important;
  margin-left: 20px !important;
}