.Footer {
    height: 200px;
    background: #0C172B;
    width: 100%;
    margin-top: 100px;
}

.Footer_container {
    margin: 0 auto;
    height: 100%;
    max-width: 1400px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.Footer_social {
    display: flex;
    justify-content: center;
    gap: 100px;
    transition: all .3s ease;
    z-index: 5;
}

.Footer_social a svg:hover stop {
    stop-color: #DB2FD5;
    transition: all .2s ease;
}

.Footer_social_twitter {
    width: 48px;
    height: 39px;
}

.Footer_social_discord {
    width: 56px;
    height: 39px;
}

.Footer_social_me {
    width: 69px;
    height: 39px;
}

.Footer_description {
    font-family: 'GT America LCG 500';
    font-size: 20px;
    line-height: 27px;
    color: #5A1E7D;
}

@media screen and (max-width : 999px) {
    .Footer {
        margin-top: 0px;
    }
    .Footer_social {
        gap: 72px;
    }
    .Footer_social_twitter {
        width: 37px;
        height: 30px;
    }
    
    .Footer_social_discord {
        width: 43px;
        height: 30px;
    }

    .Footer_social_me {
        width: 54px;
        height: 30px;
    }

    .Footer_description {
        font-size: 16px;
    }

}

@media screen and (max-width : 600px) {
    .Footer {
        margin-top: 0px;
    }

    .Footer_description {
        font-size: 12px;
    }
}

@media screen and (max-width : 415px) {
    .Footer {
        margin-top: 0px;
    }
    .Footer_social {
        gap: 56px;
    }
    .Footer_social_twitter {
        width: 29px;
        height: 23px;
    }
    
    .Footer_social_discord {
        width: 33px;
        height: 23px;
    }

    .Footer_social_me {
        width: 41px;
        height: 23px;
    }

    .Footer_description {
        font-size: 10px;
    }
}