.Court_Header {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    height: fit-content;
    z-index: 10;
    padding-top: 30px;
}
  
.Court_Header_container {
    padding: 0 20px;
    width: 100%;
    max-width: 1440px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.Court_Header_logo {
    height: 80px;
    width: 80px;
    z-index: 1;
    position: relative;
}
  
.Court_Header_nav_List {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
  
.Court_Header_nav_List li {
    font-family: 'GT America LCG 400';
    backdrop-filter: blur(10px);
    border-radius: 10px;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

.Court_Header_nav_List li:hover {
    color:#5AC1CD ;
}

.Court_wrapper_decs {
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Mobile */
.Court_wrapper {
    display: none;
}

.Court_Header_Hamburger_container {
    display: none;
}

#toggleCourt {
    display: none;
}

.Court_Header_nav_List_mobile {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    position: absolute;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    width: 100%;
    background: rgba(4.7,9,16.9, 1);
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 150px;
}
 
.Court_Header_nav_List_mobile a {
    /* height: 0;    */
}

.Court_Header_nav_List_mobile li {
    font-family: 'GT America LCG 400';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    height: 100%;
}


.Court_Header_nav_List_mobile li:hover    {
    color: #5AC1CD;
} 

/**Hamburger**/

.Court_hamburger {
    display: block;
    z-index: 5;
    width: min(56px, 14vw);
    height: min(62px, 15vw);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: min(7px, 3vw) 0 5px min(11px,2.3vw);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  
.Court_hamburger .Court_top_bun,
.Court_hamburger .Court_meat, 
.Court_hamburger .Court_bottom_bun {
    display: block;
    width: min(30px,9vw);
    height: min(4px,2vw);
    background: #5AC1CD;
    margin-top: min(8px, 1.4vw);
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.Court_dn {
    display: block;
}

/**Animations**/

#toggleCourt:checked + .Court_hamburger .Court_top_bun {
    transform: rotate(-45deg);
    margin-top: 18px;
}

#toggleCourt:checked + .Court_hamburger .Court_bottom_bun {
    opacity: 0;
    transform: rotate(45deg);
}

#toggleCourt:checked + .Court_hamburger .Court_meat {
    transform: rotate(45deg);
    margin-top: -4px;
}

#toggleCourt:checked + .Court_hamburger {
    padding-top: min(9px, 2vw);
}
  
#toggleCourt:checked + .Court_hamburger + .Court_Header_nav_List_mobile {
    transform: scale(1);
}

@media screen and (width < 900px) {
    .Court_wrapper_decs{
        display: none;
    }

    .Court_wrapper {
        display: block;
    }

    .Court_Header_Hamburger_container {
        display: block;
        display: flex;
        align-items: center;
        position: relative;
    }

    .Court_Header_container {
        margin-left: 0px;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
    }

}


@media screen and (width < 400px) {
    #toggleCourt:checked + .Court_hamburger {
        padding-top: 2px;
    }
}

