.Header {
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
  top: 30px;
}

.Header_container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: fixed;
  z-index: 10;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
}

.Header_logo {
  font-family: 'GT America LCG 500';
  font-size: 22.2415px;
  line-height: 150%;
  letter-spacing: 0.139009px;
  color: #5AC1CD;
  z-index: 5;
}

.Header_logo_img {
  z-index: 5;
  width: 80px;
  height: 80px;
}

.Header_nav_List {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 38px;
  align-items: baseline;
}

.Header_nav_List li {
  font-family: 'GT America LCG 400';
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  transition: all 0s ease;
}

.Header_nav_List a {
  color: #5AC1CD;
}

.Header_nav_List a:hover {
  font-family: 'GT America LCG 400';
  color: #DB2FD5;
}

.Header_nav_list-city_link {
  position: relative;
  transition: all .3s ease;
  cursor: pointer;
  padding-left: 20px;
}



.Header_nav_list-city_link::after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='7' height='16' viewBox='0 0 7 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2 13.6401L5.74895 7.96234L2 2.00002' stroke='%235AC1CD' stroke-width='2' stroke-linecap='square'/></svg>");
  position: absolute;
  display: inline-block;
  width: 11.64px;
  height: 3.75px;
  top: 4px;
  left: 0px;
  transition: all .3s ease;
}

.Header_nav_list-city_link:hover::after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='7' height='16' viewBox='0 0 7 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2 13.6401L5.74895 7.96234L2 2.00002' stroke='%23DB2FD5' stroke-width='2' stroke-linecap='square'/></svg>");
  transition: all .3s ease;
}

.Header_nav_list-city-db::after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='7' height='16' viewBox='0 0 7 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2 13.6401L5.74895 7.96234L2 2.00002' stroke='%23DB2FD5' stroke-width='2' stroke-linecap='square'/></svg>");
  transform: rotate(90deg);
  top: 14px;
  left: 0px;
  transition: all .3s ease;
}

.Header_nav_city_container {
  position: absolute;
  top: 35px;
  left: -20px;
  display: none;
  transition: all .3s ease;
}

.Header_nav_city_list {
  position: absolute;
  top: 13px;
  left: 21px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all .3s ease;
}

.Header_nav_city_list a {
  padding: 0;
  color: #5AC1CD;
}

.Header_nav_city_list a:hover {
  color: #DB2FD5;
}

.Header_nav_city_list li {
  font-family: 'GT America LCG 400';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.Header_social {
  display: flex;
  gap: 52px;
  justify-content: space-between;
}

.Header_social *{
  transition: all .4s ease;
}

.Header_social a svg:hover stop {
  stop-color:#DB2FD5 ;
  transition: all .2s ease;
}

.Header_nav_list-city-db {
  color: #DB2FD5 !important;
}


.Header_Hamburger_container {
  display: none;
}

#toggle {
  display: none;
}

.Header_nav_mobile {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  top: -32px;
  left: 0;
  width: 100%;
  background: rgba(4.7,9,16.9, 1);


  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Header_nav_mobile:target {
  display: block;
  pointer-events: auto;
}

.Header_nav_mobile_wrapper {
  position: relative;
}
/* DECORATION////////////////////// */
.Header_bg_svg1 {
  position: absolute;
  top: 200px;
  left: -15px;
  transform: scale(0.85);
  z-index: 1;
}
.Header_bg_svg2 {
  position: absolute;
  z-index: 2;
}
.Header_bg_svg3 {
  position: absolute;
  z-index: 3;
  left: 26px;
  width: 389px;
  top: 50px;
}
/* //////////////////////////////// */

.Header_nav_mobile_borderMobile {
  clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%, 0 7%);
  position: absolute;
  background: rgba(217, 217, 217, 0.01);
  mix-blend-mode: normal;
  backdrop-filter: blur(10px);
  width: 400px;
  height: 713.02px;
  top: 130px;
  left: 24px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Header_nav_mobile_borderMobileBlur {
  position: relative;
  top: 100px;
  z-index: 3;
}

.Header_nav_mobile_List {
  display: flex;
  padding-top: 147px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.Header_nav_list-city-mobile-link {
  font-family: 'GT America LCG 500';
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #5AC1CD;
  padding-bottom: 50px;
  cursor: pointer;
}

.Header_nav_mobile_List li:hover    {
  color: #DB2FD5;
} 

.Header_nav_list-city-mobile {
  position: absolute;
  position: relative;
  padding-left: 30px;
  margin-right: 30px;
}

.Header_nav_list-city-mobile::after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='7' height='16' viewBox='0 0 7 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2 13.6401L5.74895 7.96234L2 2.00002' stroke='%235AC1CD' stroke-width='2' stroke-linecap='square'/></svg>");
  position: absolute;
  display: inline-block;
  width: 11.64px;
  height: 3.75px;
  top: 0px;
  left: 5px;  
  transition: all .4s ease;
}

.Header_nav_list-city-mobile:hover::after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='7' height='16' viewBox='0 0 7 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2 13.6401L5.74895 7.96234L2 2.00002' stroke='%23DB2FD5' stroke-width='2' stroke-linecap='square'/></svg>");
  
}

.Header_nav_list-city-db-mobile {
  color: #DB2FD5 !important;
  font-family: 'GT America LCG 500' !important;
}

.Header_nav_list-city-db-mobile::after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='7' height='16' viewBox='0 0 7 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2 13.6401L5.74895 7.96234L2 2.00002' stroke='%23DB2FD5' stroke-width='2' stroke-linecap='square'/></svg>");
  transform: rotate(90deg);
  top: 10px;
  left: 15px;
}

.Header_nav_city_container-mobile {
  display: none;
  position: relative;
  top: -30px;
}

.Header_nav_city_list-mobile {
  position: absolute;
  top: 15px;
  left: 20px;
}

.Header_nav_city_list-mobile li {
  font-family: 'GT America LCG 500';
  font-size: 12px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #5AC1CD;
}

.Header_social-mobile {
  margin: 0 auto;
  display: flex;
  gap: 80px;
  justify-content: space-between;
  width: 270px;
  position: relative;
  bottom: 40px
}

.Header_social-mobile *{
  transition: all .4s ease;
}

.Header_social-mobile a svg:hover stop {
  stop-color:#DB2FD5 ;
  transition: all .2s ease;
}



/* *Hamburger**/

.hamburger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
        z-index: 5;
        width: 52.75px;
        height: 24.19px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
}
      
.hamburger div {
        display: block;
        height: 3px;
        background: #5AC1CD;
        transition: all 0.3s ease-in-out;
}

.top-bun {
  width:52.75px;
}

.meat {
  width:39.56px;
}

.bottom-bun {
  width:26.37px;
}

.dn {
  display: block;
}

/**Animations**/

#toggle:checked + .hamburger .top-bun {
        width: 39.56px;
        transform: rotate(-45deg);
}

#toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -9px;
}

#toggle:checked + .hamburger + .Header_nav_mobile {
        transform: scale(1);  
}
















@media screen and (max-width : 1100px) {
  .Header_social {
    gap: 30px;
  }
}


@media screen and (max-width : 999px) {
  .Header_container {
    padding: 0 27px;
  }

  .Header_social {
    display: none;
  }

  .Header_nav_List {
    gap: 50px;
  }
}

@media screen and (max-width : 760px) {
  .Header_container {
    position: fixed;
  }
  .Header_nav_List {
    display: none;
  }

  .Header_Hamburger_container {
    display: block;
  }
}

@media screen and (max-width : 424px) {
  .Header_container {
    padding: 0 12px;
  }
  .Header_nav_mobile_wrapper {
    transform: scale(0.8);
  }
  .Header_nav_mobile_borderMobileBlur {
    top: -20px;
  }
  .Header_nav_mobile_borderMobile {
    top: 10px;
  }
  /* DECORATION////////////////////// */
  .Header_bg_svg1 {
    top: 100px;
  }
  .Header_bg_svg2 {
    top: -50px;
  }
  .Header_bg_svg3 {
    top: -50px;
  }
  /* //////////////////////////////// */
}

@media screen and (max-width : 330px) {
  .Header_nav_mobile_wrapper {
    transform: scale(0.7);
  }
  .Header_nav_mobile_borderMobileBlur {
    top: -70px;
  }
  .Header_nav_mobile_borderMobile {
    top: -40px;
  }
}

.db {
  display: block;
}

.pa {
  position: relative;
}

.pd147 {
  margin-top: -95px;
}

.b110 {
  bottom: -100px;
}