.City {
    position: relative;
    margin-top: -184px;
}

.City_bg {
    width: 100%;
}

/* COURT */
.City_Court {
    position: absolute;
    z-index: 5;
    top: 24vw;
    left: 32vw;
    width: 23vw;
    height: 42vw;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.City_Court_descr {
    display: block;
    position: absolute;
    z-index: 5;
    top: 38.0vw;
    left: 38vw;
    font-family: 'Libre Barcode 128 Text';
    font-style: normal;
    font-weight: 400;
    font-size: min(100px,5vw);
    line-height: min(100px,5vw);
    text-align: center;
    color: #94FF73;
    border: min(7px, 0.7vw) solid rgba(0, 0, 0, 0.6);
    text-shadow: 0px 0px 0px #000000;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
}

.City_Court_wrapper:hover .City_Court_descr  {
    opacity: 1;
}

.City_Court_wrapper:hover .City_Court {
    opacity: 1;
    transform: scale(1.05);
}

/* Emporium */
.City_emporium {
    position: absolute;
    z-index: 5;
    top: 8vw;
    left: 17vw;
    width: 15vw;
    height: 50vw;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.City_emporium_descr {
    display: block;
    position: absolute;
    z-index: 5;
    top: 25vw;
    left: 16vw;
    font-family: 'Libre Barcode 128 Text';
    font-style: normal;
    font-weight: 400;
    font-size: min(100px,5vw);
    line-height: min(100px,5vw);
    text-align: center;
    color: #94FF73;
    border: min(7px, 0.7vw) solid rgba(0, 0, 0, 0.6);
    text-shadow: 0px 0px 0px #000000;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
}

.City_emporium_wrapper:hover .City_emporium_descr  {
    opacity: 1;
}

.City_emporium_wrapper:hover .City_emporium {
    opacity: 1;
    transform: scale(1.05);
}

/* Lab */
.City_Lab {
    position: absolute;
    z-index: 5;
    top: 15vw;
    left: 69vw;
    width: 31vw;
    height: 47vw;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.City_Lab_descr {
    display: block;
    position: absolute;
    z-index: 5;
    top: 25vw;
    left: 62vw;
    font-family: 'Libre Barcode 128 Text';
    font-style: normal;
    font-weight: 400;
    font-size: min(100px,5vw);
    line-height: min(100px,5vw);
    text-align: center;
    color: #94FF73;
    border: min(7px, 0.7vw) solid rgba(0, 0, 0, 0.6);
    text-shadow: 0px 0px 0px #000000;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
}

.City_Lab_wrapper:hover .City_Lab_descr  {
    opacity: 1;
}

.City_Lab_wrapper:hover .City_Lab {
    opacity: 1;
    transform: scale(1.05);
}

/* Stacking */
.City_Stacking {
    position: absolute;
    z-index: 5;
    top: 29vw;
    left: 1vw;
    width: 15vw;
    height: 53vw;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.City_Stacking_descr {
    display: block;
    position: absolute;
    z-index: 5;
    top: 58vw;
    left: 6vw;
    font-family: 'Libre Barcode 128 Text';
    font-style: normal;
    font-weight: 400;
    font-size: min(100px,5vw);
    line-height: min(100px,5vw);
    text-align: center;
    color: #94FF73;
    border: min(7px, 0.7vw) solid rgba(0, 0, 0, 0.6);
    text-shadow: 0px 0px 0px #000000;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
}

.City_Stacking_wrapper:hover .City_Stacking_descr  {
    opacity: 1;
}

.City_Stacking_wrapper:hover .City_Stacking {
    opacity: 1;
    transform: scale(1.05);
}