.Archive {
    position: relative;
}
.Archive_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.Archive_title_container {
    padding-top: min(50px, 7vw);
    position: relative;
    width: 355px;
}

.Archive_title_blur {
    position: absolute;
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #00D5FF; 
    filter: blur(6px);
    left: 50%;
    right: 50%;
    transform:translate(-50%, -50%);
    width: 355px;
}

.Archive_title {
    position: absolute;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    color: rgba(219, 47, 213, 0.06);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: cyan;
    left: 50%;
    right: 50%;
    transform:translate(-50%, -50%);
    width: 355px;
}

.Archive_cards_container {
    margin: min(110px,9vw) auto;
    padding: min(38px,4vw) min(80px,6vw);
    position: relative;
    max-width: 800px;
    width: 100%;
    height: min(667px, 50vw);
    border-right: 2px solid #db2fd5;
    border-bottom: 1px solid #db2fd5;
    background-image: url('../../../../assets/img/border.svg');
    background-size: cover;
    overflow: auto; 
    font-family: 'GT America LCG 400';
    font-size: min(20px, 2.5vw);
    line-height: 150%;
    
}

.Archive_cards_container:before {
    content: '';
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    max-width: 900px;
    width: 100%;
    height: 100%;
}

.Archive_cards_container::-webkit-scrollbar {
    width: 0;
  }

.Archive_card_values {
	overflow-x: auto;
    font-family: 'GT America LCG 400';
    font-size: min(16px, 2.5vw);
    line-height: 150%;
    color: rgba(255, 255, 255, 0.75);
    position: relative;
    z-index: 2;
}
.Archive_cards_container table {
	width:100%;
	table-layout: fixed;
}
.Archive_cards_container thead th {
    font-family: 'GT America LCG 400';
    font-size: min(20px, 2.5vw);
    line-height: 150%;
    text-align: left;
    color: #FFFFFF;
}
.Archive_cards_container tbody td {
    text-align: left;
    padding: min(10px, 1.5vw) min(8px, 1vw);
    vertical-align: top;
    border-top: 2px solid rgba(19, 19, 19, 0.5);
    font-size: min(18px, 3vw);
    line-height: min(30px, 3.7vw);
}

.firstTitle {
    width: 70%;
}
/* DECORATION */
.Archive_decoration_bg3 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: -100px;
    /* bottom: -300px; */
}

@media screen and (max-width: 767px) {
    .Archive_title_container {
        width: 300px;
    }
    
    .Archive_title_blur {
        font-size: 50px;
        width: 300px;
    }
    
    .Archive_title {
        font-size: 50px;
        width: 300px;
    }
}

@media screen and (max-width: 424px) {
    .Archive_title_container {
        width: 250px;
    }
    
    .Archive_title_blur {
        font-size: 30px;
        width: 250px;
    }
    
    .Archive_title {
        font-size: 30px;
        width: 250px;
    }
}

