.Archive_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
}

.Archive_title {
    font-family: 'World Conflict';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
    color: white;
    background:url("../../../../assets/img/sand.jpeg") no-repeat center/cover;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.Archive_cards_container {
    margin: 110px auto;
    width: 1200px;
    height: 667px;
    background: rgba(119, 71, 255, 0.35);
    border: 6px solid #EE8944;
    box-shadow: 0px 0px 35px 25px rgba(107, 61, 30, 0.3), inset 0px 0px 12px 20px rgba(0, 0, 0, 0.4);
    border-radius: 75px;
    padding: 38px 80px;
    overflow: auto;
    
}

.Archive_card_values {
	overflow-x: auto;
    font-family: 'Courier';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.75);
    padding: 10px 0;
}
.Archive_cards_container table {
	width:100%;
	table-layout: fixed;
}
.Archive_cards_container thead th {
    font-family: 'Courier';
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;

}
.Archive_cards_container tbody td {
	text-align: left;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
    border-top: 2px solid rgba(19, 19, 19, 0.5);
}

.firstTitle {
    width: 70%;
}
