.wallet-adapter-button-trigger { 
    height: 60px !important;
    border-radius: 10px!important;
    align-self: flex-start !important;
    font-family: 'GT America LCG 400'!important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    text-align: center !important;
    color: #FFFFFF !important;
    width: max-content !important;
    background: none !important;
    text-transform: uppercase;
    padding: 0px !important;
}

.wallet-adapter-button-trigger:hover {
    color:#5AC1CD !important ;
}


.wallet-adapter-dropdown-list {
    margin-top: -15px !important;
    margin-right: -10px !important;
    border-radius: 10px !important;
    padding: 0 !important;
}

.wallet-adapter-dropdown-list-item {
    border-radius: 0 !important;
    font-family: 'GT America LCG 400'!important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 30px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    padding: min(15px,5vw) !important;
}

.wallet-adapter-dropdown-list-item :hover    {
    background: rgba(30, 16, 69, 0.65) !important;
    backdrop-filter: blur(10px) !important;
    
}

@media screen and (width < 1350px) {
    .wallet-adapter-button-trigger {
        text-align: center !important;
        font-size: 20px !important;
        line-height: 100% !important;
        line-height: 20px !important;
        padding: 0px !important;
        display: flex !important;
        justify-content: center !important; 
        margin: 0 auto !important;
        height: max-content !important;
    }
    

    .wallet-adapter-dropdown-list {
        top: 50px !important;
        right: 10px !important;
    }

    .wallet-adapter-dropdown-list-item {
        font-size: 18px !important;
        line-height: 100% !important; 
    }
}