.Team {
    position: relative;
}

.Team_container {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0px 40px;
}

.Team_title_container {
    position: relative;
    width: 347.84px;
    height: 106.42px;
    top: -30px;
}

.Team_profile_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: end;
}

.Team_profile_wrap {
    position: relative;
    clip-path: polygon(8% 0, 99% 0, 100% 100%, 0 100%, 0 8%);
}

.Team_profile {
    position: relative;
    display: block;
}

.Team_profile img {
    width: 330px;
    height: 330px;
    position: relative;
}

.Team_profile img:hover {
    filter: drop-shadow(0px 0px 30px #00D5FF) blur(15px);   
}

.Team_profile_demiurg_after {
    position: absolute;
    width: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
    bottom: 20px;
    z-index: 10;
}

.Team_profile_demiurg_after img {
    width: 22px !important;
    height: 18px !important;
}
.Team_profile_demiurg_after p {
    font-family: 'GT America LCG 500';
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.172146px;
    color: #FF0080;
}

.Team_profile img:hover + .Team_profile_demiurg_after {
    display: flex;
}

.Team_title {
    position: absolute;
    font-family: 'GT America LCG 400';
    font-size: 79.388px;
    line-height: 150%;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #5AC1CD;
}

.Team_title_blur {
    position: absolute;
    font-family: 'GT America LCG 400';
    font-size: 79.388px;
    line-height: 159%;
    text-transform: uppercase;
    color: #00D5FF;
    filter: blur(6px);
    -webkit-text-stroke: 1px #00D5FF;
     text-shadow:
        2px  2px 0 #00D5FF,
       -1px -1px 0 #00D5FF,  
        1px -1px 0 #00D5FF,
       -1px  1px 0 #00D5FF,
        1px  1px 0 #00D5FF;
}

.Team_title_bg {
    position: absolute;
    top: 32px;
    mix-blend-mode: overlay;
}

.Team_title_bg480 {
    display: none;
}

.Team_title_bg320 {
    display: none;
}

/* DECORATION//////////////////////////// */
.Team_bg_svg1 {
    position: absolute;
    top: -500px;
    right: 0px;
    width: 2200px;
    height: 1600px;
}
.Team_bg_svg2 {
    position: absolute;
    -webkit-filter: opacity(.1) drop-shadow(0 0 0 blue);
    filter: opacity(.1) drop-shadow(0 0 0 blue);
    top: 300px;
    left: 300px;
}
.Team_bg_svg3 {
    position: absolute;
    top: 400px;
    right: 40px;
}
.Team_bg_svg4 {
    position: absolute;
    display: none;
}
/* ////////////////////////////////////// */

@media screen and (max-width : 1160px) {
    .Team_profile_container {
        gap: 22px;
        justify-content: end;
    }
    .Team_profile img {
        width: 258px;
        height: 258px;
    }
    /* DECORATION//////////////////////////// */
    .Team_bg_svg1 {
        width: 1660px;
        height: 1200px;
        top: -400px;
        right: 0px;
    }
    .Team_bg_svg2 {
        top: 300px;
        left: 100px;
    }
    .Team_bg_svg3 {
        top: 600px;
        right: 40px;
    }
    /* ////////////////////////////////////// */
}

@media screen and (max-width : 999px) {
    .Team_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
    }
    .Team_title_container {       
        width: 300.58px;
        height: 62.67px;
    }
    .Team_profile_container {
        gap: 30px;
        justify-content:center;
    }
    .Team_profile img {
        width: 338px;
        height: 338px;
    }
    /* DECORATION//////////////////////////// */
    .Team_bg_svg1 {
        position: absolute;
        top: -400px;
        right: 0px;
    }
    .Team_bg_svg2 {
        display: none;
    }
    .Team_bg_svg3 {
        display: none;
    }
    /* ////////////////////////////////////// */
}

@media screen and (max-width : 768px) {
    .Team_profile_container {
        margin-top: -30px;
    }
    .Team_profile img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width : 600px) {
    .Team_title_container {
        width: 200.77px;
        height: 43.6px;
    }
    .Team_title {
        font-size: 54px;
    }
    
    .Team_title_blur {
        font-size: 54px;
    }
    
    .Team_title_bg {
        display: none;
    }

    .Team_title_bg480 {
        display: block;
        position: absolute;
        top: 21px;
        mix-blend-mode: overlay;
        left: -45px;
    }
    .Team_profile img {
        width: 191px;
        height: 191px;
    }

    .Team_profile_demiurg_after img {
        width: 18px !important;
        height: 13px !important;
    }
    .Team_profile_demiurg_after p {
        font-size: 10px;
    }
    /* DECORATION//////////////////////////// */
    .Team_bg_svg1 {
        width: 1200px;
        height: 1000px;
        right: -150px;
        top: -400px;
    }
    .Team_bg_svg4 {
        display: block;
        bottom: -109px;
        right: -50px;
    }
    /* ////////////////////////////////////// */
}

@media screen and (max-width : 472px) {
    .Team_profile img {
        width: 300px;
        height: 300px;
    }
    .Team_profile_demiurg_after img {
        width: 20px !important;
        height: 15px !important;
    }
    .Team_profile_demiurg_after p {
        font-size: 12px;
    }
}

@media screen and (max-width : 376px) {
    .Team_title_container {
        width: 161px;
        height: 0px;
    }
    .Team_title {
        font-size: 42px;
    }
    .Team_title_blur {
        font-size: 42px;
    }
    .Team_title_bg320 {
        display: block;
        position: absolute;
        top: 15px;
        left: -10px;
        mix-blend-mode: overlay;
    }
    .Team_title_bg480 {
        display: none;
    }
    .Team_profile img {
        width: 300px;
        height: 300px;
    }
        /* DECORATION//////////////////////////// */
        .Team_bg_svg1 {
            width: 700px;
            height: 600px;
            right: -150px;
            top: -400px;
        }
        .Team_bg_svg4 {
            display: block;
            bottom: -109px;
            right: 263px;
        }
        /* ////////////////////////////////////// */
}

@media screen and (max-width : 319px) {
    .Team_profile img {
        width: 280px;
        height: 280px;
    }
}